.file-list {
    border-collapse: collapse;
    width: 100%;
  }
  
  .file-list th,
  
  .file-list td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .file-list th {
    background-color: lightgray;
  }
  
  .file-list tr:hover {
    background-color: lightblue;
  }
  
  .file-list-selected {
    background-color: lightgreen;
  }